/* gallery.component.css */
.studio-gallery {
  --swiper-navigation-color: theme('colors.white');
  --swiper-pagination-color: theme('colors.indigo.500');
  --swiper-pagination-bullet-inactive-color: theme('colors.gray.300');
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}

.studio-gallery swiper-slide {
  transition: transform 0.3s ease;
}

.studio-gallery:hover swiper-slide {
  transform: scale(0.98);
}

.studio-gallery .swiper-button-next,
.studio-gallery .swiper-button-prev {
  background-color: theme('colors.black') / 30%;
  backdrop-filter: blur(4px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
}

.studio-gallery .swiper-button-next::after,
.studio-gallery .swiper-button-prev::after {
  font-size: 1.2rem;
  font-weight: bold;
}

.studio-gallery .swiper-pagination {
  bottom: 20px !important;
}