 <swiper-container class="studio-gallery rounded-lg overflow-hidden shadow-md"navigation="true" pagination="true"pagination-type="bullets"
  loop="true"autoplay-delay="5000"autoplay-disable-on-interaction="false"effect="slide"keyboard="true">
  @for (image of images(); track image.id) {
    <swiper-slide class="relative">
      <img [src]="image.imageUrl" [alt]="image.description" class="w-full h-80 md:h-96 object-cover" />
      <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/70 to-transparent p-4">
        <p class="text-white font-medium">{{image.name}}</p>
        <p class="text-gray-200 text-sm">{{image.description}}</p>
      </div>
    </swiper-slide>
  }
</swiper-container>