@import "tailwindcss";

body {
    background: linear-gradient(135deg, #2e2e38, #434353, #5a5a68);
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
  }
  
h1, h2, p {
    color: white;
}

